/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

$color-blue: #167abc;
$color-soft-cyan: #03b4d5;
$color-soft-blue: #2eadf5;
$color-soft-green: #9cc96b;
$color-soft-orange: #ffc107;
$color-soft-red: #e44959;
$color-soft-purple: #925e8b;
$color-gray: #949495;
$color-green: #16b603;

$dialog-login-background-color: #83c748;
$create-account-background-color: #a1a1a2;
$dialog-trigger-color: #e5e5e5;
$lightest-color: #fff;
$base-color: #35baf6;
$circle-border-radius: 50%;
$base-border-color: #ddd;
$font-weight: 400;
$font-weight-bold: 500;
$blank-page-background-color: #ebebeb;
$blank-page-color :#cacaca;
